<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login System</title>
</head>
<body>
<form action="/" class="indexClass" method="POST">
    <div class="inputDivClass">
        <input class="inputClass" name="email" placeholder="Enter email" type="email">
    </div>
    <div class="inputDivClass">
        <input class="inputClass" name="password" placeholder="Enter password" type="text">
    </div>
    <div class="inputDivClass">
        <button class="submitBtn" type="submit">Sign in</button>
    </div>
    <br><br>
</form>
<div class="inputDivClass">
    <form action="/register" method="get">
        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>